.homeContainer {
  width: 100%;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 100px;
  align-items: center;
}

.HomeLeftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.HomeRightContainer {
  width: 50%;
}

.HomeRightContainer img {
  width: 100%;
}
.HomeLeftContainer h1 {
  color: #fff;
  font-size: 60px;
  line-height: 100px;
}

.HomeLeftContainer p {
  color: #fff;
  opacity: 0.3;
  font-size: 18px;
}
.HomeLeftContainer button {
  width: 175px;
  height: 50px;
  border-radius: 15px;
  color: #333333;
  background-color: #f8d57e;
}
